
NUXT_JWT_SECRET=change-me

# This should have the same value
# in byond "plug13_secret" config
NUXT_BYOND_SECRET=change-me

# Just discord credentials
NUXT_DISCORD_CLIENT_SECRET=change-me
NUXT_PUBLIC_DISCORD_CLIENT_ID=1197984072862007417

# For discord to redirect to
NUXT_PUBLIC_ORIGIN=http://localhost:3000

# DB connection
# Supports PostgreSQL only
POSTGRES_PRISMA_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?connection_limit=10
POSTGRES_URL_NON_POOLING=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
